h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#battle {
    width: 500px; 
    height: 500px;
    overflow: auto;
    margin: auto;
    border: 2px black solid;
    padding: 10px;
}

.line-0 {
    font-size: 20pt;
    color: rgb(60,60,180)
}

.line-1 {
    font-size: 20pt;
    color: rgb(180,60,60)
}

.line-2 {
    font-size: 20pt;
    color: rgb(60,180,60)
}

.line-3 {
    font-size: 20pt;
    color: rgb(180,180,60)
}
